.headerAvatar {
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.dropdownAvatar {
    border-radius: 50% !important;
    width: 42px;
    height: 42px;
    object-fit: cover;
}
